@use '@angular/material' as mat;
@use './themes_theme-colors' as colors; // Vérifiez que le chemin est correct

@mixin light-theme() {
  html.light {
    color-scheme: light;
    --sidenav-bg-color: var(--mat-sys-surface);
    --sidenav-text-color: var(--mat-sys-on-surface);
    @include mat.theme((
      color: (
        primary: colors.$primary-palette, // Palette primaire
        tertiary: colors.$tertiary-palette, // Palette tertiaire
        theme-type: light, // Définit le type de thème comme clair
      ),
      typography: Roboto, // Typographie
      density: 0, // Densité
    ));
  }
}

