/* reset.scss */
/* Box sizing reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
}

/* Set default font and background */
body {
    line-height: 1.5;
    height: 100%;
    width: 100%;
}

/* Remove bullets and padding on lists */
ol,
ul {
    list-style: none;
    padding: 0;
}

/* Anchor tags without underline */
a {
    text-decoration: none;
    color: inherit;
}

/* Reset table styles */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reset images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Button and inputs */
button,
input,
textarea {
    font: inherit;
    border: none;
    background: none;
    outline: none;
}

button {
    cursor: pointer;
}
#mat-typography{
    color: blue;
    background-color: red;
    }