/* Styles pour le header */
.header {
  position: relative; /* Position relative pour que le logo puisse être centré */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-bg-color); /* Couleur de fond selon le thème */
  padding: 0 1rem;
  height: 4rem; /* Fixer une hauteur pour aider au centrage */

  .logo {
    font-size: 1rem;
    font-weight: bold;
  }
  .btn-log-reg {
    display: flex;
    gap: 10px; // Ajoute un espace de 10px entre les boutons
  }
  .mat-mdc-raised-button {
    font-size: 0.875rem;
    border-radius: 4px; /* Arrondir les coins */
    padding: 0.25rem 0.75rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .mat-mdc-button-touch-target {
    font-size: 16px;
  }
  
}

/* Styles pour le sidenav */
.sidenav-container {
  height: 34vh; /* Hauteur réduite */
  margin-top: 0vh; /* Centrer verticalement si nécessaire */
}
.sidenav-container.mat-drawer-container {
  .mat-drawer-backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  }
}

.sidenav {
  width: 15rem;
  height: 100%; /* S'assure que le sidenav prend toute la hauteur disponible */
  background-color: var(--sidenav-bg-color); /* Utilise la variable */
  color: var(--sidenav-text-color); /* Couleur du texte */
  padding: 1rem;
  font-family: var(--font-primary);
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transition fluide */
  border-top-right-radius: 15px; /* Coin arrondi en haut à droite */
  border-bottom-right-radius: 15px; /* Coin arrondi en bas à droite */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Ajout d'une ombre pour un meilleur effet visuel */

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 1rem 1rem;

      a {
        text-decoration: none;
        color: var(--mat-sys-on-surface);
        font-size: 1.2rem;
        display: block;
        transition: color 0.3s;

        &:hover {
          color: var(--mat-sys-primary);
        }
      }
    }
  }
}
