<mat-toolbar class="header">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo">VoteVault</div>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" class="sidenav">
      <nav>
        <ul>
          <li><a routerLink="/" (click)="sidenav.close()">Accueil</a></li>
          <li><a routerLink="/create" (click)="sidenav.close()">Créer un sondage</a></li>
          <li><a routerLink="/my-polls" (click)="sidenav.close()">Mes sondages</a></li>
          <li><a routerLink="/contact" (click)="sidenav.close()">Contact</a></li>
        </ul>
      </nav>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- Contenu principal de l'application -->
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  