/* You can add global styles to this file, and also import other style files */
/* styles.scss ou app.component.scss */

/* Couleurs globales */
@import "./styles/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');


:root {
  --primary-color: #8a2be2; /* Violet sombre */
  --background-color: #2e0249; /* Fond violet sombre */
  --text-color: #ffffff; /* Texte blanc */
}

/* Appliquer le fond à tout le corps */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #4a148c, #8e24aa, #ba68c8);
  color: var(--text-color);
  background-size: cover; /* Évite les répétitions */
  background-repeat: no-repeat; /* Désactive les répétitions */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

/* Facultatif : gérer les polices par défaut */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

a {
  color: var(--primary-color);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
